header {
    background-color: black;    
}
body {
    background-color: black;
    color: white;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
    min-width: 600px;
    width: 90%;
}
h1 {
    color:mediumblue;
}
/*.navbar {
    overflow: hidden;
    background-color: #333;
}*/

.navbar-custom {
    background-color: #0055aa;
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

    /* Navigation links */
    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

/* The subnavigation menu */
.subnav {
    float: left;
    overflow: hidden;
}

    /* Subnav button */
    .subnav .subnavbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    /* Add a blue background color to navigation links on hover */
    .navbar a:hover, .subnav:hover .subnavbtn {
        background-color: lightblue;
    }

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: blue;
    width: 100%;
    z-index: 1;
}

    /* Style the subnav links */
    .subnav-content a {
        float: left;
        color: white;
        text-decoration: none;
    }

        /* Add a grey background color on hover */
        .subnav-content a:hover {
            background-color: #eee;
            color: black;
        }

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
}

div.row {
    clear: both;
}

    div.row::after {
        clear: both;
        content: "";
        display: table;
    }

div.col-2-3 {
    width: 100%;
    float: left;
    background: radial-gradient(azure, lightblue, blue);
    color: black;
}

div[class^="col-"] {
    float: left;
    padding: 10px;
    text-align: justify;
}


div.row1 {
    color: red;
    font-size: 20px;
    height: 50px;
    text-shadow: 1px 2px 2px aliceblue;
    color: #FFF0F5;
    box-shadow: 0px 0px 55px white;
    color: #FFFFF0;
}

div.row2 {
    color: white;
}

footer {
   height: 150px;
}

.minisoap {
    opacity: 0.5;
    transform-origin: left;
    transform: perspective(250px) rotateY(45deg);
}

.soapa {
    -webkit-filter: sepia(0.2);
    filter: sepia(0.2);
    float: left;
}

.soapb {
    -webkit-filter: saturate(8.0);
    filter: saturate(8.0);
    float: left;
}

.soapc {
    -webkit-filter: grayscale(4);
    filter: grayscale(4);
    float: left;
}

div.title4 {
    color: white;
    float: right;
}

div.title1 {
    vertical-align: bottom;
    transform-origin: bottom;    
    color: black;
    float: right;
}

div.row3 {
    background-image: url('Images/handmade-soap.jpg');
    height: 250px;
    background: linear-gradient(to right, rgba(255,255,255,0) 20%, rgba(255,255,255,1)), url('../Images/handmade-soap.jpg');
    background-position: center;
}

h2{
    color:deeppink;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 400px;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}
fieldset {
    border: deeppink 5px solid;
    border-radius: 15px;
    flex: 1 1 150px;
}

legend {
    border: pink 3px solid;
    border-radius: 15px;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 20px;
}

label {
    text-align: right;
    padding: 0px 20px 0px 0px;
}

div.formRow {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}

#forms {
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}

div.formRow > * {
    flex: 1 1 150px;
}

input, select, textarea {
    border: darkmagenta 2px solid;
    border-radius: 15px;
    margin: 5px 10px 5px 5px;
    padding: 5px 10px 5px 5px;
}

    input:focus {
        background-color: lightgreen;
    }

        input:focus:invalid {
            background-color: red;
        }

div.optGroup {
    border: darkmagenta 2px solid;
    border-radius: 15px;
    padding: 5px 10px 5px 5px;
    display: flex;
    flex-flow: row wrap;
    margin: 7px 0px;
}
table {
    border: thin solid white;
}

td {
    border: white thin solid;
}

input:required, textarea:required {
    background: #fff url(images/red_asterisk.png) no-repeat 98% center;
}
/*Media query for phones*/
@media only screen and (max-width: 480px) {
    nav > ul {
        flex-flow: row wrap;
    }

        nav > ul > li {
            text-align: left;
            flex: 1 0 300px;
        }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 0, 108, 0.89);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }


* {
    box-sizing: border-box;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: black;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(255, 0, 108, 0.89);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    .carousel-inner img {
        margin: 0 auto;
        max-width: 100%;
        position: absolute;        
        text-align: center;
    }
    
}
div.container {
    color: black;

}